---
layout: layout.njk
draft: true
pagination:
  data: episodeList  
  size: 1
  alias: episode
permalink: hwpod/{{ episode.guestName | myslug }}/{{ episode.episodeNumber }}/index.html
pageName: "Hello World Podcast"
cover_image: "/img/headers/podcast.jpg"
---
<p><i class="fas fa-calendar"></i> {{ episode.publishedDate }}</p>
{% set currentEpisode = episode %}
{% include "hwpod/_episode.njk" -%}
<hr />
<a href="/hwpod" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> All Episodes</a>
