<footer>
  <div>
    <div class="pt-2 text-center text-xl md:text-base">Follow Me</div>
    <div class="center mt-3 mb-4">
      <ul class="follow text-xl">
        <li>
          <a href="https://wildermuth.com/feed.xml" title="RSS Feed">
            <span>
              <i class="fas fa-rss hover:animate-spin-slow"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/shawnwildermuth" title="Twitter">
            <span>
              <i class="fab hover:animate-spin-slow fa-twitter "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shawnwildermuth/" title="LinkedIn">
            <span>
              <i class="fab hover:animate-spin-slow fa-linkedin "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://youtube.com/c/swildermuth" title="YouTube">
            <span>
              <i class="fab hover:animate-spin-slow fa-youtube "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://github.com/shawnwildermuth" title="GitHub">
            <span>
              <i class="fab hover:animate-spin-slow fa-github "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/users/40125/shawn-wildermuth" title="Stack Overflow">
            <span>
              <i class="fab hover:animate-spin-slow fa-stack-overflow "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="http://shawnw.me/pscourses" title="Pluralsight Courses">
            <span>
              <img src="/img/pslogo-new-inverse.png" alt="Pluralsight" class="ml-1 mt-1 w-6 hover:animate-spin-slow"/>
            </span>
          </a>
        </li>
        <li>
          <a href="http://www.amazon.com/-/e/B001H6ME46" title="Amazon Author Page">
            <span>
              <i class="fab hover:animate-spin-slow fa-amazon "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="http://steamcommunity.com/id/shawnwildermuth/" title="Steam">
            <span>
              <i class="fab  hover:animate-spin-slow fa-steam "></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center text-gray-300 text-xl md:text-sm">
    </div>
    <div class="mt-4 text-center">Copyright &copy; Wilder Minds LLC 2007-{{ environment.now | format("yyyy") }}</div>
  </div>
</footer>