  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" name="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="WebsiteSpark" content="GWDim6Y1dk"/>
    <meta content="REST, GRPC, API, ASP.NET, ASP.NET Core, .NET, C#, Wildermuth, Shawn, Weblog, Microsoft, Training, Consulting, Database, JavaScript, CSS, Web Development, HTML"
        name="KEYWORDS"/>
    <meta id="DescriptionMetaTag" content="{{ description }}"
        name="DESCRIPTION"/>

    <!-- for Facebook -->
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="article"/>
    {% if cover_image %}
      <meta property="og:image" content="{{ cover_image }}"/>
    {% else %}
      <meta property="og:image" content="https://wildermuth.com/img/headshots/shawn-yt-square.jpg"/>
    {% endif %}
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:site_name" content="Shawn Wildermuth's Rants and Raves"/>
    {% if video_url %}
      <meta property="og:video" content="{{ video_url }}"/>
    {% endif %}
    
    <!-- for Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ title }}"/>
    {% if cover_image %}
      <meta name="twitter:image" content="{{ cover_image }}"></meta>
    {% else %}
      <meta name="twitter:image" content="https://wildermuth.com/img/headshots/shawn-yt-square.jpg"></meta>
    {% endif %}
    <meta name="twitter:creator" content="@shawnwildermuth"></meta>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://wildermuth.com/feed.xml"/>

    <title>{{ title }}</title>

    {% include "_styles.njk" %}

  </head>
