<div>
  <div id="sidebar-button" 
        class="fixed
             text-gray-300 
               w-6
               h-10
               pl-1
               pt-1
               text-2xl
               left-0
               lg:left-[12.5rem]
               lg:text-xl 
               top-10 
               bg-gray-900/50
               cursor-pointer
               z-20
               -scale-x-100
               lg:scale-x-100">
    <i class="fas fa-chevron-left"></i>
  </div>

  <div id="header" class="
    bg-slate-700/90
    bg-slate-700 
    text-gray-200 
    fixed 
    font-sans 
    block
    mt-10
    w-[0rem]
    translate-x-[-100%] 
    overflow-hidden
    z-10
    lg:h-screen 
    lg:sticky
    lg:top-0 
    lg:translate-x-0
    lg:w-56
    lg:mt-auto">

    <aside class="p-2 lg:flex lg:flex-col lg:h-full">
      <div class="lg:flex-grow hidden lg:block"></div>
      <div>
        <a href="/"
        >
          <video src="/img/headshots/shawn-head.mp4" 
                 playsinline="true" 
                 preload="auto" 
                 autoplay 
                 muted="true"
                 loop="true"
                 poster="/img/headshots/shawn-head-sm.jpg"
                 class="lazy rounded-full shadow-md shadow-gray-200/50 hidden lg:block w-40 mx-auto"/>
        </a>
        <div class="font-bold text-2xl text-center mt-4 hidden lg:block">
          <a href="/">Shawn Wildermuth</a>
        </div>
        <div class="text-sm text-center hidden lg:block my-2">Microsoft MVP, Former .NET Foundation Board Member, Instructor and Filmmaker</div>

        <ul class="flex flex-col lg:ml-4 text-lg font-light tracking-wide lg:min-h-[30rem]" id="menu">
          <li>
            <a href="/">
              <div>Home</div>
            </a>
          </li>
          <li>
            <a href="https://shawn.wildermuth.com/training">
              <div>Learn</div>
            </a>
          </li>
          <li>
            <a href="https://shawn.wildermuth.com/advice">
              <div>Hire Me!</div>
            </a>
          </li>
          <li>
            <a href="/videos">
              <div>My Videos</div>
            </a>
          </li>
          <li class="submenu">
            <div>
              <i class="fas fa-caret-right fa-xs"></i>
              <i class="fas fa-caret-down fa-xs hidden"></i> Films and Music</div>
            <ul>
              <li>
                <a href="https://twainfilms.com" target="_blank">
                  <div>My Films</div>
                </a>
              </li>
              <li>
                <a href="/music">
                  <div>My Music</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/search">
              <div>Search</div>
            </a>
          </li>
          <li>
            <a href="https://shawn.wildermuth.com/calendar">
              <div>Calendar</div>
            </a>
          </li>
          <li>
            <a href="https://www.subscribepage.com/wilderblog" target="_blank"
                >
              <div>Newsletter</div>
            </a
              >
          </li>
          <li>
            <a href="https://shawn.wildermuth.com/about">
              <div>About</div>
            </a>
          </li>
          <li>
            <a href="https://shawn.wildermuth.com/contact">
              <div>Contact</div>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>