<div id="topbar" class="h-10 top-0 fixed  overflow-hidden w-full p-1 text-xl lg:text-lg bg-slate-800/95 text-amber-500 z-50 flex flex-row justify-between">
  <div class="hover:text-amber-400 font-sans pt-1"><a href="/">Shawn Wildermuth's Rants and Raves</a></div>
  <ul id="social-icons" class="hidden lg:flex items-center text-[.5rem]">
    <li>
      <a href="https://wildermuth.com/feed.xml" title="RSS Feed">
        <span>
          <i class="fas fa-rss fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/shawnwildermuth" title="Twitter">
        <span>
          <i class="fab fa-twitter fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/shawnwildermuth/" title="LinkedIn">
        <span>
          <i class="fab fa-linkedin fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://youtube.com/c/swildermuth" title="YouTube">
        <span>
          <i class="fab fa-youtube fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://github.com/shawnwildermuth" title="GitHub">
        <span>
          <i class="fab fa-github fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="http://stackoverflow.com/users/40125/shawn-wildermuth"
        title="Stack Overflow"
      >
        <span>
          <i class="fab fa-stack-overflow fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="http://shawnw.me/pscourses" title="Pluralsight Courses">
        <span>
          <img
            src="/img/pslogo-new-inverse.png"
            data-over="/img/pslogo-new-hover.png"
            alt="Pluralsight"
            class="ps-logo-over ml-1 w-4"
          />
        </span>
      </a>
    </li>
    <li>
      <a
        href="http://www.amazon.com/-/e/B001H6ME46"
        title="Amazon Author Page"
      >
        <span>
          <i class="fab fa-amazon fa-stack"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="http://steamcommunity.com/id/shawnwildermuth/" title="Steam">
        <span>
          <i class="fab fa-steam fa-stack"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
