---
title: "Shawn Wildermuth's Rants and Raves"
pageName: "Contact Me"
pageBlurb: "Send a Message to Shawn Wildermuth"
layout: layout
permalink: /contact/index.html
---
<div class="lg:mx-24 xl:mx-36 2xl:mx-48">
  <div id="contact"></div>
</div>
<script src="/app/js/chunk-vendors.js"></script>
<script src="/app/js/contact.js"></script>
