---
layout: layout
title: "Error - Shawn Wildermuth's Rants and Raves"
cover_image: "/img/headers/error.jpg"
---
<div class="flex">
  <div class="w-full lg:w-2/3 p-2">
    <h1>Our bad...</h3>
    <p>
      Sorry about this, but we ran into an error. Please 
     contact Shawn at <a href="https://wildermuth.com/contact">wildermuth.com/contact</a> and let him know. 
    </p>
    <p>Thanks!  Click <a href="/">here</a> to return to the home page.

</div>